body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-family: "Inter", sans-serif;
}

html,
body,
#root {
  height: 100%;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; */
  font-family: "Inter", sans-serif;
}

.list-group-item.active {
  background-color: #f8f9fa !important;
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
  color: #495057 !important;
}

input:focus,
input.form-control:focus,
button:focus,
select.form-control:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.elevated {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.queryCard {
  cursor: pointer;
}

.sticky-toast {
  position: -webkit-sticky;
  position: sticky;
}

.btn {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.login-div {
  padding: 60px 35px 35px 35px;
  border-radius: 40px;
  background: #fafafa;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
}

.input-div {
  border-radius: 15px !important;
  border: none !important;
  background-color: #fafafa !important;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff !important;
}

.button {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 15px !important;
  color: #fff;
  text-align: center;

  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff !important;
  transition: 0.5s;
}

.image-card {
  border-radius: 40px !important;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff !important;
  overflow: hidden;
  height: 100%;
}
